/* Global-CSS */

.content-flex{
display: flex;

}
.fa-solid{
  color: #1E3050;
}


/* Top-Bar */
.topbar{
box-shadow: 1px 1px 5px 1px #c2c2c2;

}

/* Side-Bar */
.sidebar{
     width: 30%;
     height: 100vh;
     padding: 10px;
     border-right: 1px solid #c2c2c2;
     display: flex;
     align-content: center;
     flex-direction: column;

}

.item-link{
     color: black;
     text-decoration: none;
     font-size: 20px;
     padding-bottom: 8px;
     transition: 0.4s;
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -ms-transition: 0.4s;
     -o-transition: 0.1s;
}
.item-link:hover{
  background-color: #74afb99f;
  border-radius:12px ;
  -webkit-border-radius:12px ;
  -moz-border-radius:12px ;
  -ms-border-radius:12px ;
  -o-border-radius:12px ;
}
.active{
    background-color: #74afb99f;
  border-radius:12px ;

}

/* Table-CSS */


table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
/* this prop for color a even row */
  tr:nth-child(even) {
  background:#f1f7f8;
  }
  th,
 td{
   border: 1px solid#a0cBcf;
   padding: 0.75rem;
   text-align: center;}
 th{
   background:#74afb9;
   color: #fff;}
 td{
   white-space: nowrap;
   overflow: hidden;
  text-overflow: ellipsis;
 }


.fa-solid{
  color: #1E3050;
  margin: 8px;
  padding-right: 10px;
  }