/* Global style */
*{
  box-sizing: border-box;
}

body {
  margin: 0;
    font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      background-color: #ffffff;
}

code {
  font-family: "Cairo", sans-serif;
  /* font-optical-sizing: auto; */
 

}

/* SignUp Style */

.father{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.father form input{
  margin: 10px;
  padding: 10px;
}
.father form h3{
      font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.error {
  margin:0px;
  font-size:15px;

  color: red;
  }

.regester{
    color: #ddd;
    padding: 10px 6px;
    border: 1px solid #111;
  }

.regester button {
    outline: none;
    border: none;
    background-color: #86b7fe;
    padding: 10px 20px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
  
}
.reglink {
    outline: none;
    border: none;
    background-color: #86b7fe;
    padding: 3px 10px 5px 10px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
    text-decoration: none;
  
  }



.regester button::hover { 
  background-color: white;
  border: 2px solid white;
  color: #86b7fe;
}


.password-input {
  display: flex;
  align-items: center;
}

.password-input input {
  flex-grow: 1;
}

.password-input button {
  margin-left: 10px;
}
.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}